<h1>Votre recherche</h1>
<% if @message != "" %>
  <p><%= @message %></p>
<% end %>
<div class="container">
  <div class="row">

      <% @boats.each do |boat| %>
        <%= link_to boat_path(boat) do %>
        <div class="col-xs-12 col-sm-6 col-md-4">

            <div class="card-link"><%=link_to boat_path(boat) do%>
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= boat.photo%>');">
                <div class="card-price"><%= boat.price %> €
                </div>
                  <div class="card-address"><%= boat.address %>
                  </div>
                    <div class="card-description">
                      <h2><%= boat.name %></h2>
                      <p>Evaluation ***</p>
                    </div>
              </div>
            <% end %>
            </div>

        </div>
        <% end %>
      <% end %>

  </div>
</div>

