<div class="container">
  <div class="row">
     <div class="col-xs-12 col-sm-6 col-sm-offset-3 form">
       <div class="text-center">
        <h1>Add a boat</h1>
        </div>
       <%= simple_form_for @boat do |f| %>
         <%= f.input :name %>
         <%= f.input :description %>
         <%= f.input :price %>
         <%= f.input :caution %>
         <%= f.input :category_id, collection: @categories, prompt: "Select category"%>
         <%= f.input :address %>
         <%= f.input :capacity %>
         <%= f.input :size %>
         <%= f.input :horse_power %>
         <%= f.input :photo, as: :attachinary %>
         <%= f.submit class: "btn btn-primary" %>
       <% end %>
     </div>
 </div>
</div>
