 <h1> <%= @boat.name %></h1>
<p>Address<%= @boat.address %></p>
<p><%= @boat.description %></p>
<p>capacity<%= @boat.capacity %></p>
<p>price<%= @boat.price %></p>
<p>caution<%= @boat.caution %></p>
<p>size<%= @boat.size %></p>
<p>Horse power<%= @boat.horse_power %></p>
<% if @boat.photo? %>
  <%= cl_image_tag @boat.photo.path, width: 200, height: 300, crop: :fill %>
<% end %>

<% if current_user != @boat.user %>

    <%= simple_form_for [@boat, @booking], url: boat_bookings_path(@boat), :method => :post do |f| %>
    <div class="input-daterange input-group" id="datepicker">
      <!-- <input type="text" class="input-sm form-control" name="start" /> -->
      <%= f.input_field :start_day, as: :string, class: 'input-sm form-control' %>

      <span class="input-group-addon">to</span>

      <!-- <input type="text" class="input-sm form-control" name="end" /> -->
      <%= f.input_field :end_day, as: :string, class: 'input-sm form-control' %>
    </div>

      <%= f.submit "Book this boat", class: "btn btn-success" %>
      <% end %>
<% else %>
  <h3>It's your boat !</h3>
<% end %>
