<h1> <%= @boat.name %></h1>
<p>Address<%= @boat.address %></p>
<p><%= @boat.description %></p>
<p>capacity<%= @boat.capacity %></p>
<p>price<%= @boat.price %></p>
<p>caution<%= @boat.caution %></p>
<p>size<%= @boat.size %></p>
<p>Horse power<%= @boat.horse_power %></p>

<% if current_user != @boat.user %>

  <%= simple_form_for [@boat, @booking], url: boat_bookings_path(@boat), :method => :post do |f| %>
    <%= f.submit "Book this boat", class: "btn btn-success" %>
  <% end %>
<% else %>
  <h3>It's your boat !</h3>
<% end %>
