<div class="banner" style="background-image: linear-gradient(-150deg, rgba(0,101,168,0) 0%, rgba(0,36,61,0) 0%), url('http://eventsboat.com/wp-content/uploads/2015/11/eventsboat1-Copie.jpg');">
  <div class="banner-search">
    <h2>The best way to enjoy your day</h2>
      <%= simple_form_for :search, url: boats_path, :method => :get do |f| %>
        <%= f.input :address ,input_html: { id: 'boat_address' }, placeholder: "Où vous voulez louer", label: false %>

        <div class="blue required search_category_id">
          <input class="required" type="checkbox" id="search_category_id_1" name="search[category_id][]" value="<%= @categories.first.id %>">
          <label for="search_category_id_1">
            <div class="custom-checkbox">
              <img src="http://icon-icons.com/icons2/390/PNG/512/sailboat_38507.png" class="images_petit" alt="sailing icon">
              Voilier
            </div>
          </label>
          <input class="required" type="checkbox" id="search_category_id_2" name="search[category_id][]" value="<%= @categories.last.id %>">
          <label for="search_category_id_2">
            <div class="custom-checkbox">
              <img src="https://cdn3.iconfinder.com/data/icons/transport-05-set-of-ships-and-boats-1/110/Ships_and_boats_13-512.png" class="images_petit" alt="sailing icon">
              Moteur
            </div>
          </label>
        </div>

      <%= f.submit 'search', class:"btn btn-info"%>
      <% end %>
  </div>
</div>

